* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  position: initial;
  box-sizing: border-box;
}

body {
  /* background-image: url(../berhane2.jpg); */
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-image: auto;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center -300px;
}

div {
  display: block;
}
header {
  margin-top: auto;
  text-align: center;
  color: gray;
  width: 100%;
  padding: 20px;
  font-size: 1em;
  border-radius: 70%;
  background-color: black;
}
nav ul li {
  list-style-type: lower-roman;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  text-shadow: lightgreen;
}

.image-profile {
  /* display: grid; */
  width: 700px;
  border: 10px solid gray;
  padding: 0;
  /* background-image: url(../berhane2.jpeg); */
  /* height: 300vh; */
  /* background-position: center; */
  background-size: cover;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.text {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  color: black;
  font-size: 3em;
  padding-top: 0em;
  font-weight: 500;
  text-decoration: double;
}

img {
  display: grid;
  /* width: 50%; */
  height: auto;
  margin: auto;
  padding: auto;
}

.centered-footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background-color: bisque;
}

body {
  display: grid;
  font-family: 'Times New Roman', Times, serif;
  padding: 3rem;
  margin: 3rem;
  background-image: url(../sunrise.jpg);
}
h2 {
  text-align: center;
  color: rgb(21, 21, 20);
  background-color: darkkhaki;
}

p {
  position: fixed;
  display: contents;
  color: rgb(21, 17, 17);
  text-align: end;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
}

/* .social-media img {
  display: flex;
  margin-right: 10px;
  border-radius: 50%;
} */
@media (max-width: 768px) {
  .responsive {
    padding: 0px 20px;
  }
  html .image-profile {
    margin: auto;
    width: 70%;
    /* background-position-y: -300px; */
    /* background-position-x: center; */
  }
}

@media (max-width: 480px) {
  article {
    font-size: 2rem;
  }
  html .image-profile {
    margin: auto;
    width: 80%;
  }
}
